"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = """
$directory\
$git_branch\
$character\
"""

# ─── rose pine palette ───────────────────────

palette = "rose-pine"

[palettes.rose-pine]
love = "#eb6f92"
gold = "#f6c177"
rose = "#ebbcba"
pine = "#31748f"
foam = "#9ccfd8"
iris = "#c4a7e7"

# ─── modules ─────────────────────────────────

[directory]
format = '[$path ]($style)'
style = "bold foam"
truncation_length = 2
truncation_symbol = ""
truncate_to_repo = false
home_symbol = "~"

[git_branch]
format = 'on [ $branch ]($style)'
symbol = ""
style = "bold iris"
disabled = false

[character]
success_symbol = "[](bold foam)"
error_symbol = "[](bold love)"
